body {
  background-color: white;
}

/* Your CSS goes here */

.container {
  width: 960px;
  height: 300px;
  background-color: dodgerblue;
  margin: 0 auto;
}

.box {
  padding: 50px;
  font-size: 40px;
}

.show-on-mobile {
  display: none;
  margin: 0 auto;
  text-align: center;
}

.show-on-tablet {
  display: none;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 959px) {
  .container {
    width: 600px;
    height: 200px;
    background-color: green;
  }

  .box {
    padding: 2px;
    font-size: 10px;
    font-family: helvetica;
    color: white;
  }

  .show-on-desktop {
    display: none;
  }

  .show-on-tablet {
    display: block;
  }
}

@media (max-width: 600px) {
  .show-on-mobile {
    display: block;
  }

  .show-on-tablet {
    display: none;
  }

  .container {
    width: 460px;
    height: 120px;
    background-color: yellow;
  }

  .box {
    font-family: cursive;
    font-size: 20px;

  }

}
